/* Body */
body {
  background-color: #f5ede0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;}

  h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

/* Navbar */
.navbar {
  background-color: #2d4a2d;
}

/* Hero */
.hero-img {
  height: 480px;
  object-fit: cover;
}

/* Badges */
.badge-nouveau, .cart-badge {
  background-color: #e07b39;
}

/* Product buttons */
.btn-add, .btn-more { 
  background-color: #2d4a2d;
}
.btn-add:hover{ background-color: #3f683f;}

/* Categories */
.categories-section {
  background-color: #f5ede0;
}

.category-overlay {
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
}

.category-link {
  color: #e07b39;
}

/* Cooperative steps */
.steps {
  background-color: #D8C3A5;
}

.coop {
  background-color: #2d4a2d;
  width: 55px;
  height: 55px;
}

/* Newsletter */
.newsletter-section {
  background-color: #1e2f5a;
}
.newsletter-label {
  color: #e07b39;
  border: 1px solid #e07b39;
  background-color: rgba(224, 123, 57, 0.3);
}

.btn-subscribe {
  background-color: #e07b39;
}


/* Footer */
footer {
  background-color: #D8C3A5;
}
 /* use later  color:#8A5A44 */